<style>
    .product_image {
        height:250px;
        width:250px
    }
    .card {
        border:none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <?php $this->view->partial('producttypelist', $productTypeObj) ?>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" name="search" id="search" class="form-control col-md-12">
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="SEARCH" class = "btn btn-primary col-md-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12" style = "margin-left:20px;margin-top:25px">
                <div class="row">
                    <?php foreach($page->items as $item) { ?>
                        <div class="card col-md-3" style = "margin:25px">
                            <a href = "<?php echo $this->url->getBaseUri()?>store/product/<?php echo $item->getId() ?>">
                                <img src="<?php echo $this->url->getBaseUri().$item->getProduct_image() ?>" class = "product_image " alt="<?php echo $item->getProduct_name() ?>" class="card-img-top">
                                <div class="card-body">
                                    <a class="card-text" href = "<?php echo $this->url->getBaseUri()?>store/product/<?php echo $item->getId() ?>"><?php echo $item->getProduct_name() ?></a>
                                    <p class="card-text"><?php echo $item->getProduct_type() ?></p>
                                </div>
                            </a>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <div class= "" >
                <div class="row" >
                    <div class="col-md-8" style = "padding-top:25px">
                        <a href="<?php echo $this->url->getBaseUri() ?>store/products?<?php echo ($searchFilter != '') ? 'search='.$searchFilter : '' ?>" class="btn btn-primary">First</a>
                        <?php
                            for($i=1;$i<= $page->total_pages;$i++) {
                                $searchQuery = $searchFilter != '' ? '&search='.$searchFilter : '' ;
                                echo "<a href='".$this->url->getBaseUri()."store/products?page=".$i.$searchQuery."' class='btn btn-default'>$i</a>";
                            }
                        ?>
                        <a href="<?php echo $this->url->getBaseUri() ?>store/products?page=<?php echo $page->last; echo ($searchFilter != '') ? '&search='.$searchFilter : '' ?>" class="btn btn-primary">Last</a>    
                    </div>
                    <div class="col-md-4" style = "padding-top:25px" >
                        <div style = "float:right;padding-top:10px"><?php echo "Showing ".$page->current ." of ". $page->total_pages; echo ($page->total_pages > 1) ? ' pages' : ' page'  ?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>