<div class="container-fluid">
    <ul class="list-group">
        <?php
            foreach($productObj as $product) {
                echo "<li class = 'list-group-item'>".$product->getProduct_name()."</li>";
            }
        ?>
    </ul>
</div>