<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Phalcon PHP Framework</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <?php if($this->SessionData->getAdminData()) { ?>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="<?php echo $this->url->getBaseUri() ?>">Organization</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/PhalconTrial">Home</a></li>
                <li class = "dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees</a>
                    <ul class="dropdown-menu">
                        <li class = "dropdown"><a href="<?php echo $this->url->getBaseUri() ?>employee/register">Add Employee</a>
                        <li><a href="<?php echo $this->url->getBaseUri() ?>employee/viewall">View Employee</a></li>
                    </ul>
                </li>
                <li class = "dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Jobs/Office</a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url->getBaseUri() ?>office/addoffice">Add Office</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri() ?>job/addjob">Add Jobs</a></li>
                    </ul>
                </li>
                <li class = "dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tasks</a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url->getBaseUri() ?>task/addtask">Add Task</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri() ?>task/viewtask">Assign Task</a></li>
                    </ul>
                </li>
                <li class = "dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Product</a>
                    <ul class="dropdown-menu">
                        <li class = "dropdown"><a href="<?php echo $this->url->getBaseUri() ?>product/addproduct">Add Product</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class = "dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                    <ul class="dropdown-menu">
                        <li class = "dropdown"><a href="<?php echo $this->url->getBaseUri() ?>index/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <?php } ?>
    <div class="container" style = "margin-top:30px">
        <?php echo $this->getContent(); ?>
    </div>
    <?php $this->assets->outputJs() ?>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>

</html>