<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Phalcon PHP Framework</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <?php if($this->SessionData->getUserData()) { ?>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="<?php echo $this->url->getBaseUri() ?>users">Organization</a>
            </div>
            <ul class="nav navbar-nav">
                <li id = "homemenu" class=""><a href="<?php echo $this->url->getBaseUri() ?>users/home">Home</a></li>
                <li id="taskmenu"><a href="<?php echo $this->url->getBaseUri() ?>users/viewassignedtask">Task</a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
                <li id = "profilemenu" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><?php echo $this->session->get('UserData') ? 'Hello,  '.$this->session->get('UserData')["UserName"]: 'Guest User' ?></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url->getBaseUri() ?>users/profile">Profile</a></li>
                        <li><a href="<?php echo $this->url->getBaseUri() ?>users/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <?php } ?>
    <div class="container" style = "margin-top:30px">
            <?php echo $this->getContent(); ?>
    </div>
    <?php $this->assets->outputJs() ?>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>
<script>
    $(document).ready(function() {
        var activemenu = localStorage.getItem('activemenu') ? localStorage.getItem('activemenu') : '';
        var id = activemenu + 'menu';
        $('#'+id).addClass('active');
    });
</script>

</html>