<div class="container-fluid">
    <h3>Hello <?php echo $empname ?></h3>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        localStorage.setItem('activemenu','home');
    });
</script>