<div class="container-fluid">
    <form action="<?php echo $this->url->getBaseUri() ?>office/addoffice" method = "POST">
        <div class="form-group">
            <?php echo $form->renderField('office_name', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('office_location', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('office_contactNumber', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('submit') ?>
        </div>
    </form>
</div>