<div class="container-fluid">
    <form action = "<?php echo $this->url->getBaseUri() ?>job/addjob" method = "POST">
        <div class="form-group">
            <?php echo $form->renderField('job_title', $errors); ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('job_description', $errors); ?>
        </div>
        <div class="form-group">
            <?php echo $form->render('submit'); ?>
        </div>
    </form>
</div>