<div class="container-fluid">
    <form action="<?php echo $this->url->getBaseUri(); ?>task/addtask" method = "post" enctype = "multipart/form-data">     
        <div class="form-group">
            <?php echo $form->renderField('task_title', $errors); ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('task_priority', $errors); ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('task_file'); ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('task_description', $errors); ?>
        </div>
        <div class="form-group">
            <?php echo $form->render('submit'); ?>
        </div>
    </form>
</div>