<style>
    .maintaskimage {
        width:300px;
        height:200px;
    }
</style>
<div class="contriner-fluid">
    <?php
        foreach($taskObj as $task) {
    ?>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class = "maintaskimage" id = "<?php echo $task->getId() ?>" src="<?php echo $this->url->getBaseUri().$task->getTask_image(); ?>" alt="">
                </div>
                <div class="col-md-4">
                    <?php 
                        echo "<h3>".$task->getTask_title()."</h3><br>";
                        echo $task->getTask_description();
                    ?>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        
                        <div class="col-md-8">
                            <select class = "form-control" name="employee" id="employee">
                            <option value=""> -- Add Employee -- </option>
                            <?php
                                foreach($employeeObj as $employee) {
                                    echo "<option value = ".$employee->getId().">".$employee->getEmp_name()."</option>";
                                }
                            ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class = "btn btn-primary col-md-12" id = "assign">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style = "margin-top:25px">
            <h4>Employee's Assigned to task</h4>
            <ul id = "employeeassignedlist">
                <?php
                    foreach($taskAssignedToObj as $taskAssignedTo) {
                        echo "<li>".$taskAssignedTo->emp_name."</li>";
                    }
                ?>
            </ul>
        </div>
    <?php
        }
    ?>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function(){
        
        $('#assign').click(function() {
            personAssigned = false;
            var taskId = $('.maintaskimage').attr("id");
            var employeeId = $('#employee').val();
            var employeeName = $('#employee option:selected').text();
            $('#employeeassignedlist').children('li').each(function() {
                if($(this).text() === employeeName) {
                    personAssigned = true;
                }
            });
            if(!personAssigned) {
                $('#employeeassignedlist').append('<li>'+employeeName+'</li>');
                $.ajax({
                    url: '<?php echo $this->url->getBaseUri() ?>taskassigned/assignemployeetotask',
                    method: 'POST',
                    data: { taskId:taskId, employeeId:employeeId },
                    success: function(data) {

                    }
                });     
            }
        });
    });
</script>