<style>
    li {
        list-style-type:none;
    }
    .taskimage {
        width:250px;
        height:150px;
    }
     
    th, td {
        padding-bottom:15px
    }
</style>
<div class="container-fluid">
    <div class="" style = "padding-top:30px">
        <div class="row">
            <form action="" method = "GET">
                <div class="col-md-10">
                    <input type="text" name="search" id="search" class="form-control" value = "<?php echo $searchFilter ?>">
                </div>
                <div class="col-md-2">
                    <input type="submit" name="submit" id="submit" value = "SEARCH" class="btn btn-primary col-md-12">
                </div>
            </form>
        </div>
    </div>
    <div class = "" style = "padding-top:30px">
        <table width= "100%" class = "col-md-12" >
            
            <tbody>

            <?php 
                if($page->total_pages != 0) {
                    foreach($page->items as $item) {
                        echo "<tr>";
                        echo "<td><img class = 'taskimage' src = '".$this->url->getBaseUri().$item->getTask_image()."'></td>";
                        echo "<td>".$item->getTask_title()."</td>";
                        echo "<td><a href = '".$this->url->getBaseUri()."task/assigntask/".$item->getId()."' class = 'btn btn-primary' >Assign To</a></td>";
                        echo "</tr>";
                    }
                }
                else {
            ?>
            <tr>
                <td>
                    <h3 style="text-align:center;margin-top:20px">No data Found</h3>
                </td>
            </tr>
            <?php } ?>
            </tbody>
        
        </table>
    </div>
    <div class = "" style = "padding-bottom:30px">
        <div class="row">
        <div class="col-md-8" style = "padding-top:25px">
                <a href="<?php echo $this->url->getBaseUri() ?>task/viewtask?<?php echo ($searchFilter != '') ? 'search='.$searchFilter : '' ?>" class="btn btn-primary">First</a>
                <?php
                    for($i=1;$i<= $page->total_pages;$i++) {
                        $searchQuery = $searchFilter != '' ? '&search='.$searchFilter : '' ;
                        echo "<a href='".$this->url->getBaseUri()."task/viewtask?page=".$i.$searchQuery."' class='btn btn-default'>$i</a>";
                    }
                ?>
                <a href="<?php echo $this->url->getBaseUri() ?>task/viewtask?page=<?php echo $page->last; echo ($searchFilter != '') ? '&search='.$searchFilter : '' ?>" class="btn btn-primary">Last</a>    
            </div>
            <div class="col-md-4" style = "padding-top:25px" >
                <div style = "float:right;padding-top:10px"><?php echo "Showing ".$page->current ." of ". $page->total_pages; echo ($page->total_pages > 1) ? ' pages' : ' page'  ?></div>
            </div>
        </div>
    </div>
</div>