<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            Registered Employee's
        </div>
        <div class="panel-body">
            <?php
                foreach($employees as $employee) {
                    echo "<span>".$employee->getEmp_name()."</span><br>";
                }
            ?>
        </div>
    </div>
</div>