<style>
    li, ul {
        list-style-type:none;
    }
</style>
<div style = "border:1px solid silver;padding:20px">
    <div class="card">
        <div class="card-title">
            <p>Types</p>
        </div>
        <?php foreach($productTypeObj as $product) { ?>
            <div style = "card-text"><?php echo $product->getProduct_type() ?></div>
        <?php } ?>
    </div>
</div>