<div class="container-fluid">
    <?php echo $form->render('id');  ?>
    <div class="form-group">
        <!-- Always keep the input name same as the database field name  and the available feild names will be auto filled -->
        <?php echo $form->renderField('emp_name'); ?>
    </div>
    <div class="form-group">
        <?php echo $form->renderField('emp_email'); ?>
    </div>
    <div class="form-group">
        <?php echo $form->renderField('emp_contactNumber'); ?>
    </div>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        $(".textbox").blur(function() {
            var changedValue = $(this).val();
            var empId = $("#empid").val();
            var columnToChange = $(this).attr("name");
            console.log(<?php echo $this->url->getBaseUri() ?>+'employee/update/'+empId);
            console.log(columnToChange + changedValue);
            $.ajax({
                type: 'POST',
                url: <?php echo $this->url->getBaseUri() ?>+'employee/update/'+empId,
                data: { columnToChange: columnToChange, changedValue: changedValue},
                success: function(data) {
                }
            });
        });
    })
</script>
