<div class="-container-fluid" >
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <form class = "" action="<?php echo $this->url->getBaseUri() ?>employee/register" method = "POST">
                    <div class="form-group">
                        <?php echo $form->renderField('emp_name', $errors ? $errors : ''); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $form->renderField('job_id', $errors ? $errors : '', $jobList); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $form->renderField('emp_email', $errors ? $errors : ''); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $form->renderField('emp_contactNumber', $errors ? $errors : ''); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $form->renderField('office_id', $errors ? $errors : '', $officeList); ?>
                    
                    </div>
                    <div class="form-group">
                        <?php echo $form->renderField('submit') ?>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <?php $this->view->partial('employeelist', ['employees' => $employees]) ?>
            </div>
        </div>
    </div>
</div>