<div class="container">
    <div class="" style = "padding-bottom:25px">
        <div class="row">
            <form action="" method = "GET">
                <div class="col-md-10">
                    <input type="text" name="search" id="search" class = "form-control col-md-12" value = "<?php echo $searchFilter ?>">
                </div>
                <div class="col-md-2">
                    <input type = "submit" class="btn btn-primary col-md-12" value = "SEARCH">
                </div>
            </form>
        </div>
    </div>
    <div class="" style = "padding-bottom:25px">
        <ul class="list-group ">
            <?php if($page->total_pages != 0) { ?>
                <?php foreach($page->items as $item) { ?>
                    <li class="list-group-item col-md-12">
                        <div class="col-md-12">
                            <div class="row">
                                <span><?php echo $item->emp_name ?></span>
                                <div class="col-md-offset-2 col-md-2" style = "float:right">
                                    <a class = "menu" href="/PhalconTrial/employee/view/<?php echo $item->id ?>">View</a> |
                                    <a class = "menu" href="/PhalconTrial/employee/edit/<?php echo $item->id ?>">Edit</a> |
                                    <a class = "menu" href="/PhalconTrial/employee/delete/<?php echo $item->id ?>">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php } ?>
            <?php } else {?>
                    <h3 style = "text-align:center;margin-top:20px">No data Found</h3>
            <?php } ?>
        </ul>
    </div>
    <br><br>
    <div class= "" >
        <div class="row" >
            <div class="col-md-8" style = "padding-top:25px">
                <a href="<?php echo $this->url->getBaseUri() ?>employee/viewall?<?php echo ($searchFilter != '') ? 'search='.$searchFilter : '' ?>" class="btn btn-primary">First</a>
                <?php
                    for($i=1;$i<= $page->total_pages;$i++) {
                        $searchQuery = $searchFilter != '' ? '&search='.$searchFilter : '' ;
                        echo "<a href='".$this->url->getBaseUri()."employee/viewall?page=".$i.$searchQuery."' class='btn btn-default'>$i</a>";
                    }
                ?>
                <a href="<?php echo $this->url->getBaseUri() ?>employee/viewall?page=<?php echo $page->last; echo ($searchFilter != '') ? '&search='.$searchFilter : '' ?>" class="btn btn-primary">Last</a>    
            </div>
            <div class="col-md-4" style = "padding-top:25px" >
                <div style = "float:right;padding-top:10px"><?php echo "Showing ".$page->current ." of ". $page->total_pages; echo ($page->total_pages > 1) ? ' pages' : ' page'  ?></div>
            </div>
        </div>
    </div>

</div>
<?php $this->assets->outputJs(); ?>
<script type = "text/javascript">

</script>