<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <div class="row">
                        <div class="col-md-10">
                            <h4><?php echo $employeeObj->getEmp_name(); ?></h4>
                        </div>
                        <div class="col-md-2">
                            <a href = "<?php echo $this->url->getBaseUri()?>employee/resetpassword/<?php echo $employeeObj->getId() ?>" class = "btn btn-primary" >RESET PASSWORD</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body">
                Employee Name : <?php echo $employeeObj->getEmp_name(); ?> <br>
                Employee Designation : <?php echo $jobTitle; ?> <br>
                Employee Email : <?php echo $employeeObj->getEmp_email(); ?> <br>
                Employee Contact Number : <?php echo $employeeObj->getEmp_contactNumber(); ?> <br>
                Office : <?php echo $officeName ?> <br>
            </div>
    </div>
</div>