<div class="container-fluid">
    <form action="<?php echo $this->url->getBaseUri() ?>product/addproduct" method = "POST" enctype = "multipart/form-data">
        <div class="form-group">
            <?php echo $form->renderField('product_name', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('product_type', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('product_image', $errors) ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('submit') ?>
        </div>
    </form>
</div>