<style>
    .paginate-options {
        padding-top:25px;
    }
    td, th {
        padding-bottom:20px 
    }
</style>
<div class="container-fluid">
    <table width = "100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <?php 
                foreach($page->items as $item) {
            ?>
                <tr>
                    <td><?php echo $item->id ?></td>
                    <td><?php echo $item->emp_name ?></td>
                    <td><?php echo $item->emp_contactNumber ?></td>
                    <td><?php echo $item->emp_email ?></td>
                </tr>
            <?php 
                } 
            ?>
            
        </tbody>
    </table>
    <div id = "" class = "paginate-options">
        <a class = "btn btn-primary" href="paginator">First</a>
        <a class = "btn btn-default" href="paginator?page=<?php echo $page->before ?>">Previous</a>
        <a class = "btn btn-default" href="paginator?page=<?php echo $page->next ?>">Next</a>
        <a class = "btn btn-primary" href="paginator?page=<?php echo $page->last ?>">Last</a>
        <div style = "float:right;padding-top:15px"><?php echo 'Showing '.$page->current.' of '.$page->total_pages. ' pages' ?></div>
        
    </div>
</div>