<style>
    body {
        background-color:#373747;
    }
    .card {
        margin-top:60px;
        background-color:white;
        padding:60px;
        border-radius:15px
    }
</style>
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2 card">
        <h3 style = "text-align:center;font-weight:bold">ADMIN LOGIN</h3>
        <br>
        <?php echo $this->flashSession->output() ?>
        <form action="" method = "POST">
            <div class="form-group">
                <?php echo $form->renderField('admin_email', $errors)?>
            </div>
            <div class="form-group">
                <?php echo $form->renderField('admin_password', $errors)?>
            </div>
            <br>
            <div class="form-group">
                <?php echo $form->renderField('submit')?>
            </div>
        </form>
    </div>
</div>

