<div class="container-fluid">
    <form action="" method = "POST">
        <div class="form-group">
            <?php echo $form->renderField('emp_oldPassword') ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('emp_newPassword') ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('emp_confirmNewPassword') ?>
        </div>
        <div class="form-group">
            <?php echo $form->renderField('submit') ?>
        </div>
    </form>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        localStorage.setItem('activemenu','profile');
    });
</script>