<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a href = "<?php echo $this->url->getBaseUri() ?>users/profile/viewprofile">View Profile</a></li>
        <li class="list-group-item"><a href = "<?php echo $this->url->getBaseUri() ?>users/profile/changepassword">Change Password</a></li>
    </ul>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        localStorage.setItem('activemenu','profile');
    });
</script>