<div class="container-fluid">
    <div class="panel-heading">
        <div>
            <div class="row">
                <div class="col-md-10">
                    <h4><?php echo $employeeObj->getEmp_name(); ?></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        Employee Name : <?php echo $employeeObj->getEmp_name(); ?> <br>
        Employee Designation : <?php echo $employeeObj->job->getJob_title(); ?> <br>
        Employee Email : <?php echo $employeeObj->getEmp_email(); ?> <br>
        Employee Contact Number : <?php echo $employeeObj->getEmp_contactNumber(); ?> <br>
        Office : <?php echo $employeeObj->office->getOffice_name() ?> <br>
    </div>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        localStorage.setItem('activemenu','profile');
    });
</script>