<style>
    li {
        list-style-type:none;
    }
    .taskimage {
        width:250px;
        height:150px;
    }
     
    th, td {
        padding-bottom:15px
    }
</style>
<div class="container-fluid">
    <div class="">
        <table width = "100%" >
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <?php
                    if($page->total_pages != 0) {
                        foreach($page->items as $item) { 
                ?>
                        <tr>
                            <td><img src="<?php echo $this->url->getBaseUri().$item->task->getTask_image() ?>" alt="" style = "width:300px;height:200px;"></td>
                            <td>
                                <h3><?php echo $item->task->getTask_title() ?></h3><br>
                                <p><?php echo $item->task->getTask_description() ?></p>
                                
                            </td>
                        </tr>
                <?php 
                        }
                    } 
                    else {
                ?>
                        <h4 style = "text-align:center">No Tasks Assigned</h4>
                <?php
                    }
                ?>
            </tbody>
        </table>
    </div>
    <?php 
        if($page->total_pages != 0) {
    ?>
        <div class= "" style="margin-bottom:30px" >
            <div class="row" >
                <div class="col-md-8" style = "padding-top:25px">
                    <a href="<?php echo $this->url->getBaseUri() ?>users/viewassignedtask?<?php echo ($searchFilter != '') ? 'search='.$searchFilter : '' ?>" class="btn btn-primary">First</a>
                    <?php
                        for($i=1;$i<= $page->total_pages;$i++) {
                            $searchQuery = $searchFilter != '' ? '&search='.$searchFilter : '' ;
                            echo "<a href='".$this->url->getBaseUri()."users/viewassignedtask?page=".$i.$searchQuery."' class='btn btn-default'>$i</a>";
                        }
                    ?>
                    <a href="<?php echo $this->url->getBaseUri() ?>users/viewassignedtask?page=<?php echo $page->last; echo ($searchFilter != '') ? '&search='.$searchFilter : '' ?>" class="btn btn-primary">Last</a>    
                </div>
                <div class="col-md-4" style = "padding-top:25px" >
                    <div style = "float:right;padding-top:10px"><?php echo "Showing ".$page->current ." of ". $page->total_pages; echo ($page->total_pages > 1) ? ' pages' : ' page'  ?></div>
                </div>
            </div>
        </div>
    <?php
        }
    ?>
</div>
<?php $this->assets->outputJs() ?>
<script type = "text/javascript">
    $(document).ready(function() {
        localStorage.setItem('activemenu','task');
    });
</script>